<div class="head-container">
  <img id="hamburger-image" src="assets/img/burger.jpeg" alt="Burger image.">

  <h1>EAT BURGER</h1>
</div>

<h3>Your ordered Burger</h3>

<ul class="burger-box">
  {{#each burgers}}
  {{#unless this.devoured}}
    <li class="available-burger">
      <span class="burgers">
      {{this.id}} 
      {{this.burger_name}}
    </span>
    <span id="devour-button">
        <form action="/{{this.id}}" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button class="bevour-button" type="submit">Devour It!</button>
        </form>
    </span> 
    </li>
  {{/unless}} 
  {{/each}}
</ul>

<ul>
  {{#each burgers}}
  {{#if this.devoured}}
    <li class="devour-burger">
      {{this.id}} 
      {{this.burger_name}}
    </li>
  {{/if}}
  {{/each}}
<ul>    



<form class="create-form" action="/" method="POST">

  <div class="form-group">
    <textarea id="new-burger-text" rows="4" name="burger_name"></textarea>
  </div>

  <button type="submit" id="new-burger-submit">Submit</button>
</form>

<p>Enter a burger you want to order.</p>